$color-white: #FFFFFF;
$color-black: #000000;
$color-slate: #3a3e46;
$color-gray: #66686b;
$color-blue: #3801ff;
$color-purple-light: #d7ccff;

$color-darkmode-white: #d7d5e8;
$color-darkmode-blue: #6666d9;
$color-darkmode-blue-dark: #1c1a2b;
$color-darkmode-white-transparent: rgba($color-darkmode-white, 0.6);

$color-gradient-yellow: #ffe043;
$color-gradient-orange: #ffb05b;
$color-gradient-purple: #8758d6;
$color-gradient-blue: #005aff;

$color-primary: $color-slate;
$color-accent: $color-blue;

$color-darkmode-primary: $color-darkmode-white;
$color-darkmode-secondary: $color-darkmode-blue;
$color-darkmode-secondary-dimmed: rgba($color-darkmode-secondary, 0.75);
$color-darkmode-accent: $color-darkmode-white-transparent;
$color-darkmode-background: $color-darkmode-blue-dark;

$color-black-transparent: rgba($color-black, .7);

$font-sans: 'Inter', Helvetica, Arial, sans-serif;
$font-heading: $font-sans;
$font-body: $font-sans;
$font-alternate: $font-sans;

$box-shadow-strong: 10px 10px 40px rgba(0,0,0,0.3);

$padding-x-large: 60px;
$padding-largest: 45px;
$padding-larger: 40px;
$padding-large: 30px;
$padding-medium: 20px;
$padding-inbetween: 15px;
$padding-small: 10px;
$padding-x-small: 5px;

$padding-site: $padding-largest;
$padding-site-vert: $padding-largest;
$padding-site-horz: $padding-x-large;

$site-width: 1040px;

$break-responsive: $site-width + ($padding-site-horz * 2);
$break-largest: 1200px;
$break-larger: 1100px;
$break-large: 968px;
$break-medium: 875px;
$break-tablet: 768px;
$break-small: 668px;
$break-mini: 568px;
$break-mobile: 480px;
$break-mobile-medium: 375px;
$break-mobile-small: 360px;
$break-mobile-legacy: 350px;

$break-height-largest: 800px;
$break-height-larger: 750px;
$break-height-large: 700px;
$break-height-medium: 650px;
$break-height-tablet: 600px;
$break-height-mini: 550px;