@mixin border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin rounded-corners($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin backface-visibility($type) {
  -webkit-backface-visibility: $type;
  -moz-backface-visibility: $type;
  backface-visibility: $type;
}

@mixin user-select-none() {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@mixin user-select($type: text) {
  -webkit-user-select: $type;
  -moz-user-select: $type;
  -ms-user-select: $type;
  user-select: $type;
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name} {
    @content;
  }
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin transition($x){
  transition: $x;
  -webkit-transition: $x;
  -moz-transition: $x;
  -ms-transition: $x;
  -o-transition: $x;
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin ie-only() {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

@mixin darkmode() {
  @media screen and (prefers-color-scheme: dark) {
    @content;
  }
}

@mixin breakpoint($width, $height: false) {

  @media only screen and (max-width: $width) {
    @content;
  }

  @if $height {
    @media only screen and (max-height: $height) {
      @content;
    }
  }
}

@mixin breakpoint-height($y) {
  @media only screen and (min-height: $y) {
    @content;
  }
}

@mixin breakpoint-min($x, $y: false) {
  @media only screen and (min-width: $x) {
    @content;
  }

  @if $y {
    @media only screen and (min-height: $y) {
      @content;
    }
  }
}

@mixin breakpoint-min-min($x, $y) {
  @media only screen and (min-width: $x) and (min-height: $y) {
    @content;
  }
}

@mixin breakpoint-max-min($x, $y) {
  @media only screen and (max-width: $x) and (min-height: $y) {
    @content;
  }
}

@mixin breakpoint-min-max($x, $y) {
  @media only screen and (min-width: $x) and (max-height: $y) {
    @content;
  }
}

@mixin breakpoint-min-min($x, $y) {
  @media only screen and (min-width: $x) and (min-height: $y) {
    @content;
  }
}