# The build environment: `development` | `production`
NODE_ENV=development

# Whether you want to hot reload css, note that if you do, you will likely get
# a flash of unstyled content when loading pages
HOT_RELOAD_CSS=true

# The API host
API_HOST=https://api.beamapp.co

# The url to call to get a new subscribe link
SUBSCRIBE_LINK_URL=https://createsend.com//t/getsecuresubscribelink

# The canonical host, used in open graph tags
CANONICAL_HOST=https://beamapp.co

# The public path for the app (use /www/ for GitHub Pages beamlegacy.github.io/www/)
PUBLIC_PATH=/www/

# The token to generate a new secure subscribe link
SECURE_SUBSCRIBE_TOKEN=XXXXXXX

# The email key to use in request to save email to the external service
SUBSCRIBE_EMAIL_KEY=XXXXXXX

# The Google Analytics 4 measurement ID
GA_MEASUREMENT_ID=G-XXXXXXX

# FEATURES
FEATURE_DOWNLOAD_BETA_APP=true