# The build environment: `development` | `production`
NODE_ENV=development

# Whether you want to hot reload css, note that if you do, you will likely get
# a flash of unstyled content when loading pages
HOT_RELOAD_CSS=true