{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "env": {
    "browser": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-empty-interface": [
      "off"
    ],
    "@typescript-eslint/no-var-requires": [
      "warn"
    ],
    "@typescript-eslint/no-this-alias": [
      "off"
    ],
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_"
      }
    ],
    "@typescript-eslint/no-inferrable-types": [
      "off"
    ],
    "semi": [
      "warn",
      "never"
    ],
    "quotes": [
      "warn",
      "double"
    ],
    "comma-dangle": [
      "warn",
      "never"
    ],
    "no-unused-vars": "off",
    "no-irregular-whitespace": [
      "error",
      {
        "skipTemplates": true
      }
    ]
  },
  "ignorePatterns": [
    "*.js",
    "node_modules",
    "dist/*.*"
  ]
}
