# General
*.DS_Store
Thumbs.db

# Public
/www

# Configuration
/conf
.env
.env.*
!.env.example

# Development
/data
.sass-cache
.tmp
dev-app-update.yml

# Packages
node_modules
npm-debug.log

# Build
/dist