.parcel-cache/
dist
node_modules
/coverage/
*.patch
/test/e2e/screenshots/
*.env
/junit.xml
/.env.prod
/.env.staging
/.env.develop
.nvmrc

# Local Netlify folder
.netlify
/.env.beam
/.env.mat

.DS_Store
www