$color-blue: #1a5bff;
$color-light-blue: #d1deff;
$color-black: #000;
$color-grey: #666;
$color-light-grey: #999;
$color-lighter-grey: #ccc;

$rainbow-colors: #fcd720, #fdad1a, #fc913f, #fd745b, #e37d91, #b68fad, #39a2c3,
  #19ad91, #6ec264, #98d658;

$transition-duration-m: 300ms;
$transition-duration-l: 500ms;

$page-width: 380px;
$mobile-breakpoint: 600px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font: 16px/1.6 -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
  color: $color-grey;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;

  &::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1000;
    opacity: 0;
    background: url("./assets/logo.png") no-repeat -350px 50%;
    background-size: 700px auto;
    transition: opacity $transition-duration-l ease;
  }
}

.loaded {
  &::before {
    opacity: 1;
  }
}

input,
button {
  display: block;
  appearance: none;
  outline: none;
  border: 0;
  font-family: inherit;
  font-size: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color $transition-duration-m ease;
}

button {
  cursor: pointer;
  background: 0;
  color: $color-blue;
  font-weight: bold;
  transition: transform $transition-duration-m ease;

  &:hover {
    transform: translateY(-2px);
  }

  &:active {
    transform: translateY(0px);
  }
}

html,
body,
.page {
  height: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  width: $page-width;
  margin-left: 400px;
  padding: 32px 16px;
}

.content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.content-inner {
  width: 100%;
}

.header {
  width: 100%;
  position: relative;
  margin-bottom: 40px;
}

.heading {
  opacity: 1;
}

.heading-title {
  font-size: 38px;
  line-height: 1.2;
  font-weight: 700;
  color: $color-black;
}

.heading-caret {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  background: $color-light-blue;

  &.is-blinking {
    animation: blink $transition-duration-l linear infinite alternate;
  }
}

.header-input {
  display: block;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  border: 0;
  outline: 0;
  border-radius: 0;
  caret-color: $color-light-blue;
  text-size-adjust: auto;

  &::placeholder {
    color: $color-lighter-grey;
  }
}

.description {
  margin-bottom: 28px;
}

.buttons {
  position: relative;

  .button {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.footer {
  flex-shrink: 0;
  font-size: 14px;
  color: $color-light-grey;

  a {
    &:hover {
      color: $color-grey;
    }
  }

  .links {
    margin-bottom: 4px;
  }
}

.headinng {
  opacity: 1;
}

.header-input,
.description,
.join-button,
.footer {
  opacity: 0;
}

.sign-up-button {
  display: none;

  button:hover {
    animation: rainbow 10s ease infinite alternate;
  }
}

@media only screen and (max-width: $mobile-breakpoint) {
  body {
    &::before {
      display: none;

      // Remove the line above and uncomment this part to show the logo above
      // the text on mobile.
      // opacity: 1;
      // background-position: center -360px;
      // background-size: 360px auto;
    }
  }

  .page {
    width: auto;
    max-width: $page-width;
    margin: 0;
  }

  // .heading-title {
  //   font-size: 32px;
  // }
}

@keyframes blink {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rainbow {
  0% {
    color: $color-blue;
  }
  10% {
    color: nth($rainbow-colors, 1);
  }
  20% {
    color: nth($rainbow-colors, 2);
  }
  30% {
    color: nth($rainbow-colors, 3);
  }
  40% {
    color: nth($rainbow-colors, 4);
  }
  50% {
    color: nth($rainbow-colors, 5);
  }
  60% {
    color: nth($rainbow-colors, 6);
  }
  70% {
    color: nth($rainbow-colors, 7);
  }
  80% {
    color: nth($rainbow-colors, 8);
  }
  90% {
    color: nth($rainbow-colors, 9);
  }
  100% {
    color: nth($rainbow-colors, 10);
  }
}
