<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>beam</title>
    <meta name="description" content="Browse in a whole new light. Coming soon to macOS. Join the beta now.">

    <meta property="og:title" content="beam">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@@config.url/assets/images/social/beam.gif">
    <meta property="og:image" content="@@config.url/assets/images/social/beam.gif">
    <meta property="og:description" content="Browse in a whole new light. Coming soon to macOS. Join the beta now.">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="getonbeam">
    <meta name="twitter:title" content="beam">
    <meta name="twitter:description" content="Browse in a whole new light. Coming soon to macOS. Join the beta now.">
    <meta name="twitter:image" content="@@config.url/assets/images/social/beam.gif">

    <meta name="app:env" content="@@config.env">
    <meta name="app:mode" content="splash">

    <link rel="shortcut icon" href="/assets/images/favicon/icon_32x32.png">
    <link rel="stylesheet" href="/@@url.css?ver=@@config.version">
  </head>

  <body>
    
    <div class="beam">
      <div class="table">
        <div class="table-row row-header">
          <div class="table-cell cell-header">
            <div class="table">
              <div class="table-cell bottom cell-logo" style="opacity: 0">
                &zwnj;
                <div class="heading">
                  <div class="table auto">
                    <div class="table-cell top">
                      <div class="table auto auto-height">
                        <div class="table-cell middle cell-icon">
                          <img src="/assets/images/icon-beta.png" alt="">
                        </div>
                        <div class="table-cell middle">
                          <h1>beam</h1>&zwnj;
                        </div>
                        <div class="table-cell top cell-bubble">
                          <div class="beta">
                            <div class="table auto">
                              <div class="table-cell middle">
                                beta
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="table-cell middle cell-caret">
                      <div class="caret"></div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="table-cell bottom cell-cta">
                <div class="cta">
                  <div class="cta-message">
                    <span class="btn-join">Join the beta (macOS) <span class="arrow">-></span></span>
                  </div>

                  <div class="cta-form">
                    <div class="form">
                      <div class="input field">
                        <div class="table">
                          <div class="table-cell middle cell-input">
                            <div class="input">
                              <input type="text" name="zXmAeBqfd" autocomplte="off" placeholder="Enter your e-mail address...">
                            </div>
                          </div>

                          <div class="table-cell middle cell-action">
                            <div class="action btn-close">
                              <div class="table auto-right">
                                <div class="table-cell middle">
                                  ×
                                </div>
                              </div>
                            </div>

                            <div class="action btn-submit">
                              <div class="table auto-right">
                                <div class="table-cell middle">
                                  <span class="arrow">-></span>
                                </div>
                              </div>
                            </div>

                            <div class="action loader">
                              <div class="table auto-right">
                                <div class="table-cell middle">
                                  <div class="loading"></div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="cta-error">
                    Sorry <span>—</span> please try again.
                  </div>

                  <div class="cta-success">
                    Thank you <span>—</span> we'll reach out soon!</span>
                  </div>
                </div>

                <div class="signin">
                  <div class="cta-message">
                    <a href="https://app.beamapp.co/signin" class="btn-join">Sign in <span class="arrow">-></span></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="table-row row-body">
          <div class="table-cell middle cell-body">
            <div class="carousel">
              <div class="table table-carousel-wrap">
                <div class="table-cell midle">
                  <div class="table table-carousel">

                    <div class="table-cell middle cell-break cell-break-1">
                      <div class="table auto">
                        <div class="table-cell middle cell-phrase">
                          <div class="placeholder">
                            &zwnj;<span>Browse</span>
                          </div>

                          <div class="phrases">
                            <div class="table">
                              <div class="table-cell middle">
                                <ul>
                                  <li><div class="table"><div class="table-cell middle">Share</div></div></li>
                                  <li><div class="table"><div class="table-cell middle">Capture</div></div></li>
                                  <li><div class="table"><div class="table-cell middle">Browse</div></div></li>
                                  <li class="is-active"><div class="table"><div class="table-cell middle">Search</div></div></li>
                                  <li><div class="table"><div class="table-cell middle">Write</div></div></li>
                                  <li><div class="table"><div class="table-cell middle">Create</div></div></li>
                                  <li><div class="table"><div class="table-cell middle">Learn</div></div></li>
                                  <li><div class="table"><div class="table-cell middle">Plan</div></div></li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="table-cell middle cell-space cell-space-2">
                          &nbsp;
                        </div>

                        <div class="table-cell middle cell-caret">
                          
                        </div>
                      </div>
                    </div>

                    <div class="table-cell middle cell-break cell-break-2">
                      <div class="table auto">
                        <div class="table-cell middle">
                          &zwnj;
                        </div>

                        <div class="table-cell middle cell-suffix">
                          &nbsp; in a whole new light
                        </div>

                        <div class="table-cell middle cell-caret">
                          
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="table-row row-footer">
          <div class="table-cell cell-footer">
            <div class="bar">

            </div>

            <div class="footer">
              <div class="table auto-right table-footer">
                <div class="table-cell middle cell-legal">
                  &copy; 2021 beam.
                </div>

                <div class="table-cell middle cell-links">
                  <ul>
                    <li><a href="https://twitter.com/getonbeam" target="_blank" rel="noopener noreferrer">Twitter</a></li>
                    <li class="divider">/</li>
                    <li><a href="https://angel.co/company/beam-app-1" target="_blank" rel="noopener noreferrer">About</a></li>
                    <li class="divider">/</li>
                    <li><a href="https://angel.co/company/beam-app-1/jobs" target="_blank" rel="noopener noreferrer">Jobs</a></li>
                    <li class="divider">/</li>
                    <li><a href="https://public.beamapp.co/beam/note/c5ef3f23-5864-45ad-943e-b75b093555e1/Bright-Paper" target="_blank" rel="noopener noreferrer">Why Beam?</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="/@@url.js?ver=@@config.version"></script>
  </body>
</html>