@keyframes squareify {
  0% {
    border-radius: var(--animation-squareify-in-radius, 1em);
  }

  100% {
    border-radius: var(--animation-squareify-out-radius, 4px);
  }
}

@keyframes color {
  0% {
    color: var(--color-beam-window-controls-color-active);
  }

  100% {
    color: var(--color-beam-window-controls-color-active);
  }
}

@keyframes bump-link {
  0% {
    transform: scale(1);
  }

  25% {
    transform: scale(var(--animation-bump-scale, 2));
  }

  100% {
    transform: scale(1);
  }
}

@mixin writing {
  .writing {
    inset: 0;
    overflow-y: auto;
    position: absolute;

    .journal {
      .view {
        font-size: 0.875em;
        list-style-type: none;
        margin: 45px auto 0;
        max-width: 28.18181818em;
        padding: 0 20px 0 25px;
        text-align: left;

        h1 {
          font-size: 1.27272727em;
          margin: 2.18181818em 0 0.72727273em;
        }

        > li {
          margin: 0 0 4.36363636em;
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            position: relative;

            &::before {
              background-color: var(--color-bullet);
              border-radius: 50%;
              content: "";
              display: inline-block;
              height: 0.3125em;
              left: -1.25454545em;
              position: absolute;
              top: 0.65em;
              width: 0.3125em;
            }
          }
        }

        *[contenteditable="true"] {
          caret-color: var(--color-text-caret-color);

          &:focus {
            border: 0;
            outline: none;
          }
        }
      }
    }

    .all-notes {
      height: 100%;

      .view {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        max-width: 27.27272727em;
        min-height: 100%;
        padding: 0 1.45454545em;
        width: 100%;

        .header {
          border-bottom: 1px solid var(--color-beam-window-placeholder-background);
          flex-grow: 0;
          margin-top: 2.90909091em;
          padding-bottom: 0.35em;
          margin-bottom: 0.35em;
          text-align: left;

          .placeholder {
            display: inline-block;
            height: 1.09090909em;

            &.small {
              width: 5.09090909em;
            }
          }
        }

        .main {
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          .row {
            display: flex;
            flex-direction: row;
            height: 1.81818182em;

            > * {
              flex-grow: 0;
              text-align: right;
              width: 4.36363636em;

              &:first-child {
                flex-grow: 1;
                text-align: left;
              }
            }
          }

          .placeholder {
            display: inline-block;
            height: 0.72727273em;

            &.large {
              width: 60%;
            }

            &.small {
              width: 35%;
            }

            &.medium {
              width: 30%;
            }
          }
        }
      }
    }

    .note-page {
      .view {
        font-size: 0.875em;
        list-style-type: none;
        margin: 45px auto 0;
        max-width: 28.18181818em;
        padding: 0 20px 0 25px;
        text-align: left;

        h1 {
          font-size: 1.27272727em;
          margin: 2.18181818em 0 0.72727273em;
        }

        .header {
          align-items: center;
          display: flex;
          flex-direction: row;
          font-size: 1.27272727em;
          margin: 2.7768595em 0 0.92561984em;

          h1 {
            flex-grow: 1;
            margin: 0;

            + * {
              margin-top: 0;
            }
          }

          .icn {
            height: 1.1em;
            width: 1.1em;
          }
          button {
            background-color: transparent;
            border: 0;
            border-radius: 4px;
            color: var(--color-beam-window-controls-color-accent);
            display: inline-block;
            margin: 0;
            padding: 0.25em;

            &:hover {
              color: var(--color-beam-window-controls-color-hover);
            }

            &:focus {
              outline: none;

              &:not(.clicked) {
                color: var(--color-beam-window-controls-color-hover);
              }
            }

            &:active, &.active {
              background-color: var(--color-beam-window-controls-background-active);
              color: var(--color-beam-window-controls-color-active);
            }

            svg {
              vertical-align: middle;
            }

            &.published {
              .icon {
                --animation-grow-in-transform: scale(2.5);
                --animation-grow-out-transform: scale(1);
                animation: bump-link 0.2s ease-in-out, squareify 0.2s ease-in-out, color 0.2s ease-in-out both;
                display: inline-block;
              }

              .label {
                transition: none;
              }
            }
          }
        }

        > li {
          margin: 0 0 4.36363636em;
        }

        ul {
          list-style-type: none;
          margin: 0;
          padding: 0;

          li {
            position: relative;

            &::before {
              background-color: var(--color-bullet);
              border-radius: 50%;
              content: "";
              display: inline-block;
              height: 0.3125em;
              left: -1.25454545em;
              position: absolute;
              top: 0.65em;
              width: 0.3125em;
            }
          }
        }

        *[contenteditable="true"] {
          caret-color: var(--color-text-caret-color);

          &:focus {
            border: 0;
            outline: none;
          }
        }
      }
    }

    .note {
      .note-content {
        li {
          &.media {
            margin-top: 0.36363636em;

            &::before {
              display: none;
            }
          }
        }

        .placeholder {
          --height: 1.45454545em;
          display: inline-block;
          height: var(--height);
          transition: background-color 0.2s ease-in-out;

          &.img {
            &.large {
              --height: 9.09090909em;
            }
          }

          &:not(:empty) {
            background-color: transparent;
            height: auto;
          }
        }

        p.placeholder {
          height: 1em;
          margin: 0;

          &.medium {
            width: 60%;
          }

          &.small {
            width: 42%;
          }
        }

        .insert {
          .placeholder {
            background-color: var(--color-beam-window-capture-highlight);
          }

          &.media {
            .placeholder {
              animation: beam-window-placeholder-in 0.15s ease-in-out;
            }
          }

          &:not(.media) {
            animation: beam-window-placeholder-in 0.15s ease-in-out;
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
  }
}