@use "/src/style/mixins";

.visually-hidden {
  @include mixins.visually-hidden();
}

@keyframes drawCheckbox {
  0% {
    opacity: 0.05;
    stroke-dashoffset: 130%;
    stroke-width: 0;
  }
  
  50% {
    opacity: 0.4;
    stroke-dashoffset: 95%;
  }
  
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes drawError {
  0% {
    opacity: 0.05;
    stroke-dashoffset: 130%;
    stroke-width: 0;
  }
  
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

.icn {
  transition: color 0.18s ease-in-out;
  
  &.checkmark {
    > path {
      animation: drawCheckbox 0.25s ease-in-out both;
      stroke-dasharray: 130%;
    }
  }

  &.error {
    margin: 0;

    > path {
      animation: drawError 0.25s ease-in-out both;
      stroke-dasharray: 130%;
    }

    > path:nth-child(2) {
      animation-delay: 0.1s;
    }
  }
}

.icon-with-label-reveal-button {
  --label-width: 0;

  .label {
    display: inline-block;
    opacity: 0;
    overflow-x: hidden;
    text-align: left;
    // @formatter:off
    transition:
      width 0.18s cubic-bezier(0.26, 0.04, 0.35, 1.33),
      opacity 0.18s cubic-bezier(0.26, 0.04, 0.35, 1.33)
    ;
    vertical-align: middle;
    white-space: nowrap;
    width: 0;
    // @formatter:on
    &::before {
      content: "\a0"; // no-break space
      display: inline-block;
    }

    &:focus {
      outline: none;
    }
  }

  @mixin label-hover() {
    .label {
      opacity: 1;
      width: var(--label-width);
    }
  }

  &:is(:hover, :focus, .active) {
    @include label-hover;
    background-color: var(--color-beam-window-menu-open) !important;
  }

  &:not(:hover, :focus) {
    .label {
      /*
        safari is pretty bad at handling elastic eases (at least on width,
        so we have to revert to a more classic easing for closing
      */
      // @formatter:off
      transition:
        width 0.15s ease-in-out,
        opacity 0.15s ease-in-out
      ;
      // @formatter:on
    }
  }
}

.icon-with-label-reveal-button-label,
.icon-with-label-reveal-button .label {
  font-size: 0.75rem;
}
