@mixin hero {
  .hero {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: var(--hero-height);
    justify-content: center;
    margin-top: -4em;
    text-align: center;
    position: fixed;
    top: calc(var(--site-padding) * 2 + var(--header-height));

    h1 {
      font-size: 3.125em;
      margin: 0;
      text-align: inherit;
    }
    p {
      color: var(--color-text-secondary);
      font-size: 1.875em;
      margin: 0;
      text-align: inherit;
    }
  }
}
