.beam {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;

  @import "site/header";
  @import "site/body";
  @import "site/footer";

  @import "shared/cta";
  @import "shared/caret";
  @import "shared/loading";
}