@use "mixins";

footer {
  color: var(--color-text-secondary);
  font-size: 0.875em;
  margin-bottom: 0.25em;
  text-align: center;
  transition: padding-bottom 0.2s ease-in-out;

  @include mixins.height-below-default {
    margin-bottom: 0.5em;
  }

  strong {
    color: var(--color-text);
  }
}
