@use "mixins";

@keyframes pending {
  0% {
    opacity: 0.5;
    transform: scaleX(1) translateX(-5%) scaleX(0.05);
  }

  40% {
    opacity: 0.5;
    transform: scaleX(1) translateX(40%) scaleX(0.6);
  }

  70% {
    opacity: 0.5;
    transform: scaleX(1) translateX(100%) scaleX(0);
  }

  100% {
    opacity: 0.5;
    transform: scaleX(1) translateX(100%) scaleX(0);
  }
}

@keyframes drawCheckbox {
  0% {
    opacity: 0.05;
    stroke-dashoffset: 130%;
    stroke-width: 0;
  }

  50% {
    opacity: 0.4;
    stroke-dashoffset: 95%;
  }

  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@keyframes drawError {
  0% {
    opacity: 0.05;
    stroke-dashoffset: 130%;
    stroke-width: 0;
  }

  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}

@mixin header {
  --form-distance: 2em;
  --form-distance-out: calc(-1 * var(--form-distance, 0));
  --form-transition: transform 0.5s var(--form-transform-easing), opacity 0.5s ease-in-out;
  --form-transform-easing: cubic-bezier(0.68, -0.59, 0.06, 1.64);

  > header {
    display: flex;
    flex-direction: row;
    height: var(--header-height);
    justify-content: flex-start;
    width: 100%;
    z-index: 1;
  }

  .beam-logo {
    align-items: center;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 1.6em;
    font-weight: 600;
    gap: 0.2em;
    line-height: 1;
    transform: none;
    transition: var(--form-transition);

    &.out {
      opacity: 0;
      //transform: translateX(calc(-1 * var(--form-distance, 0) / 1.875));
      transform: translateX(-100%);
    }

    @include mixins.above-small {
      font-size: 1.875em;
      transform: none;

      &.out {
        opacity: 1;
        transform: none;
      }
    }

    svg {
      --size: 1.06666667em;
      height: var(--size);
      min-width: var(--size);
      width: var(--size);
    }

    .beta {
      align-self: flex-start;
      background-color: var(--color-pill);
      border-radius: 0.81818182em;
      font-size: 0.36666667em;
      margin-top: 0.25em;
      padding: 0.18181818em 0.54545455em 0.27272727em;
    }
  }

  .nav {
    align-items: center;
    display: flex;
    flex-direction: row;

    button,
    a {
      appearance: none;
      background-color: transparent;
      border: 0;
      color: var(--color-text-secondary);
      font-size: 1em;
      margin: 0;
      padding: 0.25em 0;

      &:focus {
        outline: none;
      }

      &:hover,
      &:focus {
        color: var(--color-text);
      }
    }
  }
}
