@use "mixins";

html,
body {
  height: 100%;
  margin: 0;
}

html {
  padding-left: calc(100vw - 100%); // https://css-tricks.com/elegant-fix-jumping-scrollbar-issue/
}

body {
  background-color: var(--color-background);
  color: var(--color-text);

  &::before {
    background-image:
      radial-gradient(circle at 0% 60%, var(--color-background-gradient1-start), var(--color-background-gradient1-end) 30%),
      radial-gradient(circle at 20% 100%, var(--color-background-gradient2-start) 10%, var(--color-background-gradient2-end) 50%),
      radial-gradient(circle at 70% 100%, var(--color-background-gradient3-start), var(--color-background-gradient3-end) 45%),
      radial-gradient(circle at 100% 60%, var(--color-background-gradient4-start), var(--color-background-gradient4-end) 35%)
  ;
    content: "";
    inset: 0;
    opacity: 0.2;
    position: fixed;
  }
}

.beam-site {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
  padding: 2em;

  main {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    margin: auto;
    max-width: 1300px;
    padding: 40px 0 50px;
    text-align: center;
    transition: padding 0.2s ease-in-out;
    width: 100%;

    @include mixins.height-below-default {
      padding: 0 0 20px;
    }
  }

  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
  }
  .beam-logo {
    align-items: center;
    background-color: white;
    border-radius: 100px;
    box-shadow: 0 0 20vw 20vw white;
    display: flex;
    flex-direction: row;
    gap: 0.2em;
    font-size: 1.875em;
    font-weight: 600;
    line-height: 1;

    svg {
      --size: 1.06666667em;
      height: var(--size);
      min-width: var(--size);
      width: var(--size);
    }

    .beta {
      align-self: flex-start;
      background-color: var(--color-pill);
      border-radius: 0.81818182em;
      font-size: 0.36666667em;
      margin-top: 0.25em;
      padding: 0.18181818em 0.54545455em 0.27272727em;
    }
  }
}
