@use "mixins";
@use "/src/home/hero";

.home {
  @include hero.hero;

  .perspective-container {
    align-items: center;
    display: flex;
    justify-content: center;
    perspective: 150vw;
    perspective-origin: center;
    position: relative;
    width: 100%;
  }

  //noinspection CssInvalidFunction
  .beam-window-container {
    --height: 31.25em;
    --width: 47.5em;

    height: var(--height);
    max-width: var(--width);
    transform: translate3d(var(--tX, 0), var(--tY, 0), var(--tZ, 0)) rotateY(var(--rotate, 0)) scale(var(--scale, 1)) translateX(calc(var(--tX, 0) * -1.85));
    transform-style: preserve-3d;
    transition: transform 0.5s cubic-bezier(0.37, 1.51, 0.61, 0.99);
    width: 100%;
  }

}

