@use "mixins";
@use "/src/home/hero";

.home {
  @include hero.hero;

  > main {
    padding: calc(40px + var(--header-height) + var(--hero-height) + var(--hero-margin-top) + var(--hero-margin-bottom)) 0 50px;

    @include mixins.height-below-default {
      padding: calc(40px + var(--header-height) + var(--hero-height) + var(--hero-margin-top) + var(--hero-margin-bottom)) 0 20px;
    }
  }

  > header {
    left: var(--site-padding);
    position: fixed;
    right: var(--site-padding);
    top: var(--site-padding);
  }



  .demo,
  .perspective-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .perspective-container {
    perspective: 150vw;
    perspective-origin: center;
    position: relative;
  }

  //noinspection CssInvalidFunction
  .beam-window-container {
    --height: 31.25em;
    --max-height: calc(100vh - var(--site-padding) * 2 - var(--header-height) - 10em);
    --min-height: 15em;
    --width: 47.5em;

    height: var(--height);
    max-height: var(--max-height, var(--height, initial));
    min-height: var(--min-height, var(--height, initial));
    max-width: var(--width);
    transform: translate3d(var(--tX, 0), var(--tY, 0), var(--tZ, 0)) rotateY(var(--rotate, 0)) scale(var(--scale, 1)) translateX(calc(var(--tX, 0) * -1.85));
    transform-style: preserve-3d;
    transition: transform 0.5s cubic-bezier(0.37, 1.51, 0.61, 0.99);
    width: 100%;
  }

}

