.row-header {
  .cell-header {
    padding: $padding-site-vert $padding-site-horz 0 $padding-site-horz;
    @include breakpoint($break-large) {
      padding: $padding-largest $padding-largest 0 $padding-largest;
    }
    @include breakpoint($break-mobile) {
      padding: $padding-large $padding-large 0 $padding-large;
    }

    .cell-logo {
      width: 100%;
      font-size: 36px;
      line-height: 100%;
      font-weight: 600;
      position: relative;

      .heading {
        height: 100%;
        position: absolute;
        top: 0;
      }

      .cell-icon {
        width: 40px;
        @include breakpoint($break-large, $break-height-large) {
          width: 36px;
        }
        @include breakpoint($break-mobile) {
          width: 32px;
        }

        img {
          display: block;
          width: 32px;
          height: 32px;
          top: 0;
          position: absolute;
          transform: translateY(5%);
          @include breakpoint($break-large, $break-height-large) {
            width: 28px;
            height: 28px;
            transform: translateY(18%);
          }
          @include breakpoint($break-mobile) {
            width: 24px;
            height: 24px;
            transform: translateY(35%);
          }
        }
      }

      .cell-bubble {
        padding-left: 1px;

        .beta {
          height: 18px;
          padding: 0px 6px;
          font-size: 12px;
          font-weight: 500;
          line-height: 100%;
          border-radius: 9px;
          background-color: #f5f5f7;
          transform: translateY(-2px);
          @include darkmode() {
            color: $color-darkmode-primary;
            background-color: rgba($color-darkmode-white, 0.2);
          }
          @include breakpoint($break-large, $break-height-large) {
            height: 16px;
            font-size: 11px;
            transform: translateY(1px);
          }
          @include breakpoint($break-mobile) {
            height: 14px;
            font-size: 10px;
            transform: translateY(6px);
          }
        }
      }

      h1 {
        display: inline;
        margin: 0;
        padding: 0;
        font-size: 36px;
        line-height: 100%;
        @include breakpoint($break-large, $break-height-large) {
          font-size: 32px;
        }
        @include breakpoint($break-mobile) {
          font-size: 28px;
        }
      }

      .cell-caret {
        position: relative;
      }

      .caret {
        transform: translateY(-17.5%);
        @include breakpoint($break-largest, $break-height-largest) {
          transform: translateY(-17.5%);
        }
        @include breakpoint($break-larger, $break-height-larger) {
          transform: translateY(-15%);
        }
        @include breakpoint($break-large, $break-height-large) {
          transform: translateY(-5%);
        }
        @include breakpoint($break-large, $break-height-large) {
          transform: translateY(-5%);
        }
        @include breakpoint($break-tablet, $break-height-tablet) {
          transform: translateY(0%);
        }
        @include breakpoint($break-mini) {
          transform: translateY(-5%);
        }
        @include breakpoint($break-mobile) {
          transform: translateY(5%);
        }
        @include breakpoint($break-mobile-small) {
          transform: translateY(15%);
        }
      }
    }
  }
}