.caret {
  display: block;
  width: 20px;
  height: 55px;
  top: 0;
  position: absolute;
  transform: translateY(-20%);
  margin-left: 3px;
  border-radius: 1px;
  background-color: $color-purple-light;
  @include darkmode() {
    background-color: $color-darkmode-secondary-dimmed;
  }
  @include animation(blinkOpacity 1.5s infinite linear);
  &.is-typing {
    animation: none;
  }
  @include breakpoint($break-largest, $break-height-largest) {
    width: 20px;
    height: 55px;
  }
  @include breakpoint($break-larger, $break-height-larger) {
    width: 18px;
    height: 50px;
  }
  @include breakpoint($break-large, $break-height-large) {
    width: 16px;
    height: 44px;
    transform: translateY(-15%);
  }
  @include breakpoint($break-tablet, $break-height-tablet) {
    width: 14px;
    height: 39px;
  }
  @include breakpoint($break-mini) {
    width: 16px;
    height: 44px;
  }
  @include breakpoint($break-mobile) {
    width: 14px;
    height: 39px;
  }
  @include breakpoint($break-mobile-small) {
    width: 12px;
    height: 33px;
  }
}