@keyframes beam-window-shoot {
  0% {
    transform: translateY(var(--translateY)) scale(1);
  }

  50% {
    transform: translateY(var(--translateY)) scale(0.9);
  }

  100% {
    transform: translateY(var(--translateY)) scale(1);
  }
}

@keyframes beam-window-placeholder-in {
  0% {
    font-size: 0;
    height: 0;
    line-height: 0;
    opacity: 0;
  }

  100% {
    height: var(--height);
    opacity: 1;
  }
}
