@mixin content {
  .content {
    flex-grow: 1;
    flex-shrink: 1;
    overflow-y: hidden;
    position: relative;

    > :is(.html-doc, .writing) {
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    }
  }

  .placeholder {
    background-color: var(--color-beam-window-placeholder-background);
    border-radius: 2.5px;
    display: inline-block;
    height: 0.72727273em;
    width: 100%;
  }

  &.web {
    .writing {
      opacity: 0;
      pointer-events: none;
      transform: translate3d(0, 0.25em, 0) scale3d(0.95, 0.95, 0);
    }
  }

  &.writing {
    .writing {
      opacity: 1;
    }

    .html-doc {
      opacity: 0;
      pointer-events: none;
      transform: translate3d(0, 0.5em, 0) scale3d(0.95, 0.95, 1);
    }
  }

  // hide any non current page
  > .content > .html-doc:not(.current),
  > .content > .writing > *:not(.current) {
    inset: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
}
