@mixin omnibox-frame {
  .omnibox-frame {
    --omnibox-transition-duration: 0.1s;
    align-items: center;
    display: flex;
    flex-direction: column;
    inset: 0;
    justify-content: flex-start;
    opacity: 0;
    padding: 1em;
    pointer-events: none;
    position: absolute;
    transition: opacity var(--omnibox-transition-duration) ease-in-out;

    .omnibox {
      background-color: var(--color-beam-window-omnibox-background);
      border: 0.5px solid var(--color-beam-window-omnibox-border);
      border-radius: 0.625em;
      box-shadow: 0 10px 30px var(--color-beam-window-omnibox-shadow);
      margin: 1.75em;
      max-width: 42.5em;
      padding: 0.36363636em;
      position: relative;
      transform: scale(0.8) translateY(1em);
      transition: transform var(--omnibox-transition-duration) ease-in-out;
      width: calc(100% - 1.75em * 2);

      .row {
        display: flex;
        flex-direction: row;
        font-size: 0.875em;
        gap: 0.85714286em;
        padding: 0.71428571em 0.85714286em;

        .icon {
          align-items: center;
          color: var(--color-beam-window-omnibox-icon);
          display: flex;
          justify-content: center;
          min-width: var(--size);

          img,
          svg {
            --size: 1.14285714em;
            height: var(--size);
            width: var(--size);
          }
        }

        .content {
          align-items: center;
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          justify-content: flex-start;
          text-align: left;
        }

        &.result {
          align-items: center;
          appearance: none;
          background-color: transparent;
          border: 0;
          border-radius: 0.42857143em;
          color: inherit;
          display: flex;
          flex-direction: row;
          flex-grow: 1;
          width: 100%;

          &:hover,
          &:focus {
            background-color: var(--color-beam-window-omnibox-selected);
            outline: none;
          }
        }

        &:not(.result) + .result:first-of-type {
          margin-top: 0.75em;

          &::before {
            background-color: var(--color-beam-window-omnibox-border);
            content: "";
            height: 0.5px;
            left: 0;
            opacity: 0.5;
            position: absolute;
            right: 0;
            top: 3.65em;
          }
        }
      }

      input {
        appearance: none;
        background-color: transparent;
        border: 0;
        color: inherit;
        font-size: 1.21428571em;
        width: 100%;

        &:focus {
          outline: 0;
        }

        &::placeholder {
          color: var(--color-beam-window-omnibox-placeholder);
        }
      }
    }
  }

  &:not(.capturing).open-omnibox {
    .omnibox-frame {
      opacity: 1;
      pointer-events: all;

      .omnibox {
        transform: none;
      }
    }
  }
}
