@mixin tabs {
  .tabs {
    flex-grow: 1;
    gap: 0.25em;
    //max-width: calc(100% - 74px - 18px);
    overflow: hidden;
    position: relative;

    > * {
      transition: opacity 0.15s ease-in-out, transform 0.2s cubic-bezier(0.34, 0, 0.24, 1);
      will-change: opacity, transform;
    }
  }

  .tab {
    --border-color: var(--color-beam-window-tab-border);
    --background-color: transparent;

    align-items: center;
    background-color: var(--background-color);
    border: 0.5px solid var(--border-color);
    border-radius: 0.54545455em;
    color: currentColor;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    font-size: 0.6875em;
    gap: 2px;
    justify-content: center;
    max-width: calc(50% - 12px);
    overflow: hidden;
    padding: 0.54545455em 0.72727273em;
    position: relative;

    &.pinned {
      flex-grow: 0;

      .favicon {
        margin-right: 0;
      }

      .label,
      .url {
        display: none;
      }
    }

    &:hover,
    &:focus {
      --border-color: var(--color-beam-window-tab-border-hover);
      --background-color: var(--color-beam-window-tab-background-hover);
    }

    &.current {
      --border-color: var(--color-beam-window-tab-border-current);
      --background-color: var(--color-beam-window-tab-background-current);

      > * {
        transition: opacity 0.15s ease-in-out, transform 0.2s cubic-bezier(0.29, 0, 0.34, 1);
        will-change: opacity, transform;
      }

      &:not(.pinned):hover {
        > * {
          opacity: 0;
          transform: translate3d(0, -1.25em, 0);
        }

        .url {
          opacity: 1;
          transform: none;
        }
      }
    }

    &:active {
      --border-color: var(--color-beam-window-tab-border-active);

      &:not(.current) {
        --background-color: var(--color-beam-window-tab-background-active);
      }
    }

    .favicon {
      --size : 1.45454545em;
      height: var(--size);
      margin-right: 0.25em;
      width: var(--size);
    }

    .label {
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .url {
      align-items: center;
      display: flex;
      justify-content: center;
      opacity: 0;
      overflow: hidden;
      padding: 0 0.5em;
      position: absolute;
      text-overflow: ellipsis;
      transform: translateY(1.25em);
      white-space: nowrap;
      width: 100%;

      svg {
        --size: 1.45454545em;
        height: var(--size);
        opacity: 0.5;
        vertical-align: middle;
        width: var(--size);
      }
    }
  }

  .tab + .separator {
    align-self: center;
    background-color: var(--color-beam-window-placeholder-background);
    height: 0.75em;
    margin: 0 -0.5px;
    width: 0.5px;
  }

  .tab:hover + .separator,
  .tab:focus:not(.clicked) + .separator,
  .tab.current + .separator,
  .separator.next-tab-is-current {
    opacity: 0;
  }

  .tabs-writing {
    display: flex;
    gap: 0.27272727em;
    justify-content: center;
    opacity: 0;
    position: absolute;
    transform: translateY(1.25em);
    width: 100%;

    .tab {
      color: var(--color-beam-window-writing-tab-color);
      display: inline-block;
      flex-grow: 0;
      position: relative;

      &:not(:focus, :hover) {
        background: none;
        border-color: transparent;
      }

      &.current,
      &.clicked {
        &:not(:hover) {
          background: none;
          border-color: transparent;
        }
      }

      &.current,
      &.clicked,
      &:hover,
      &:focus {
        color: var(--color-beam-window-writing-tab-color-active);
      }
    }

    .tab:not(:hover) + .separator,
    .separator.next-tab-is-current {
      opacity: 1;
    }

    .tab:focus:not(.clicked):not(.current) + .separator,
    .tab:hover + .separator {
      opacity: 0;
    }

    // Cheat: hide previous separator with box-shadow
    .separator + .tab:hover,
    .separator:not(.next-tab-is-current) + .tab:focus {
      box-shadow: -0.45454545em 0 0 0 var(--color-beam-window-background);
    }
  }

  &.writing {
    .tabs {
      > * {
        opacity: 0;
        transform: translate3d(0, -1.25em, 0);
      }

      .tabs-writing {
        opacity: 1;
        transform: none;
      }
    }
  }
}
