<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, viewport-fit=cover">

  <title><%= htmlWebpackPlugin.options.messages.metas.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.messages.metas.description %>"/>

  <meta property="og:title" content="<%= htmlWebpackPlugin.options.messages.metas.ogTitle %>"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="<%= htmlWebpackPlugin.options.messages.metas.ogUrl %>"/>
  <meta property="og:image" content="<%= htmlWebpackPlugin.options.messages.metas.ogImage %>"/>
  <meta property="og:description" content="<%= htmlWebpackPlugin.options.messages.metas.ogDescription %>"/>

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="<%= htmlWebpackPlugin.options.messages.metas.twitterSite %>"/>
  <meta name="twitter:title" content="<%= htmlWebpackPlugin.options.messages.metas.twitterTitle %>"/>
  <meta name="twitter:description" content="<%= htmlWebpackPlugin.options.messages.metas.twitterDescription %>"/>
  <meta name="twitter:image" content="<%= htmlWebpackPlugin.options.messages.metas.twitterImage %>"/>

  <meta name="color-scheme" content="dark light">

  <script>
    var messages = <%= JSON.stringify(htmlWebpackPlugin.options.messages) %>
  </script>
  <base href="/">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=<%= htmlWebpackPlugin.options.tracking.googleAnalytics %>"></script>
  <script>
    window.dataLayer = window.dataLayer || []
    function gtag(){dataLayer.push(arguments);}
    window.gtag = gtag;
    gtag('js', new Date());
    gtag('config', '<%= htmlWebpackPlugin.options.tracking.googleAnalytics %>');
  </script>
</head>
<body class="loading">
  <div class="beam-site home" style="opacity:0;">

    <div class="background">
      <div class="bg-lightsource"></div>
      <div class="bg-video">
        <video autoplay muted loop playsinline class="bg-video-particles">
          <source src="/assets/videos/beam-loop.mp4" type="video/mp4">
        </video>
      </div>
      <div class="bg-gradient"></div>
    </div>

    <div class="frame-border"></div>

    <header class="header--fixed headroom headroom--pinned headroom--unpinned">
      <a href="/" class="beam-logo">
        <img class="light" src="/assets/common/beam-icon.png">
        beam
        <span class="beta">beta</span>
      </a>

      <div class="nav">
        <div class="nav-container">
          <div class="mobile-button">
            <div></div>
            <div></div>
            <div></div>
          </div>

          <div class="nav-menu">
            <ul class="listMenu">
              <% for (const nav of htmlWebpackPlugin.options.messages.header.nav) { %>
                <li class="<%= nav.classes %><% if (nav.title == 'Features') { %> is-active<% } %>"><a class="underline" href="<%= nav.url %>" target="<%= nav.target %>"><%= nav.title %></a></li>
              <% } %>
            </ul>

            <div class="nav-dashboard">
              <a href="#" target="_blank">Sign in</a>
            </div>
          </div>
        </div>

        <button class="button-flash download-app" data-from="header">
          <%= htmlWebpackPlugin.options.messages.header.downloadBeam %>
        </button>
      </div>
    </header>

    <main>
      <div class="hero">
        <div class="hero-transition">
          <canvas id="hero-canvas" resize></canvas>
        </div>
        <div class="container">
          <div class="bg-gradient"></div>
          <div class="beam-icon">
            <img class="light" src="/assets/common/beam-icon.png">
          </div>
          <h1 class="beam-title" style="text-align: center;"><%= htmlWebpackPlugin.options.messages.titleHtml %></h1>
          <p class="beam-button" style="text-align: center;">
            <button class="button-flash download-app" data-from="hero"><%= htmlWebpackPlugin.options.messages.header.downloadBeam %></button>
            <br />
            <small class="os-version"><%= htmlWebpackPlugin.options.messages.macOSVersion %></small>
          </p>

          <div class="scroll">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 159 91"><path d="M79.5,91c-2.94,0-5.89-1.12-8.13-3.37L3.37,19.63C-1.12,15.14-1.12,7.86,3.37,3.37,7.86-1.12,15.14-1.12,19.63,3.37l59.87,59.87L139.37,3.37c4.49-4.49,11.77-4.49,16.26,0,4.49,4.49,4.49,11.77,0,16.26L87.63,87.63c-2.25,2.25-5.19,3.37-8.13,3.37Z"/></svg>
          </div>
        </div>
      </div>
      
      <div class="features">
        <div class="container">
          <div class="feature feature-video">
            <div class="beam-video">
              <video class="video video-thumbnail" autoplay muted loop playsinline>
                <source src="/assets/videos/beam-loop.mp4" type="video/mp4">
              </video>

              <video class="video video-main" preload="auto" playsinline>
                <source src="/assets/videos/beam-video.mp4" type="video/mp4">
              </video>

              <div class="video-play btn-toggle">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64.12 81.16"><path d="M7.04,.75L62.07,36.77c2.74,1.8,2.74,5.82,0,7.62L7.04,80.41c-3.03,1.98-7.04-.19-7.04-3.81V4.56C0,.94,4.02-1.23,7.04,.75Z"/></svg>
              </div>
            
              <div class="video-buttons">
                <div class="btn-video-fullscreen">
                  <div class="button-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 53.28 53.28"><path d="M31.52,53.28h18.76c1.66,0,3-1.34,3-3V31.52h-6v15.76h-15.76v6Z"/><path d="M53.28,21.76V3c0-1.66-1.34-3-3-3H31.52V6h15.76v15.76h6Z"/><path d="M6,6h15.76V0H3C1.34,0,0,1.34,0,3V21.76H6V6Z"/><path d="M0,50.28c0,1.66,1.34,3,3,3H21.76v-6H6v-15.76H0v18.76Z"/></svg>
                  </div>
                </div>
              </div>
            </div>

            <p class="tagline bottom" style="text-align: center;"><span class="gradient-start">A </span><span class="strike">browser</span> <span class="gradient-end">new type of software</span> <br />
              <span class="gradient-start">for</span> <span class="strike">searching</span> <span class="gradient-end">healthy thinking<br class="mobile-only" />on the internet.</span>
            </p>
          </div>
        </div>

        <div class="container">
          <div class="feature primary blue feature-browse">
            <div class="blurb">Browse</div>
            <h2>Navigate with intent&nbsp;<br>Strong-minded browsing</h2>
            <div class="visual ratio-21x50 centered">
              <div class="bg"></div>
              <div class="content">
                <div class="inner"> </div>
              </div>
            </div>
          </div>

          <div class="feature overlap feature-more browse">
            <div class="more">
              <div class="more-item half autotabgroup">
                <div class="visual ratio-15x7">
                  <div class="content"></div>
                </div>
                <div class="description">
                  <div class="table">
                    <div class="table-cell middle">
                      <h5>Automatic Tab Grouping</h5>
                      <p>beam organizes tabs for you as you surf the web. Set a name and a color, then capture them to your notes.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="more-item half sharetabgroup">
                <div class="visual ratio-15x7">
                  <div class="content"></div>
                </div>
                <div class="description">
                  <div class="table">
                    <div class="table-cell middle">
                      <h5>Share Tab Groups</h5>
                      <p>A list of hotels for your next trip, movie recommendations, books to read? Share your tab groups to others.</p>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <div class="container">
          <div class="feature primary indigo feature-capture">
            <div class="blurb">Capture</div>
            <h2>Keep what really matters</h2>
            <h3>Capture inspiration without breaking your flow.</h3>
            <div class="visual centered">
              <div class="bg"></div>
              <div class="content">
                <div class="bullets">
                  <div class="bullet is-active">
                    <div class="heading">Text</div>
                    <div class="info">Capture entire blocks of text or that <br>sentence you really like in a wall of text.</div>
                  </div>
                  <div class="bullet">
                    <div class="heading">Media</div>
                    <div class="info">Capture images, videos, tweets, reddit posts, <br>instagram photos, figma frames &amp; more.</div>
                  </div>
                </div>
                <div class="inner">
                  <div class="video is-active">
                    <video autoplay muted loop playsinline>
                      <source src="/assets/videos/capture-text.mp4" type="video/mp4">
                    </video>
                  </div>

                  <div class="video">
                    <video autoplay muted loop playsinline>
                      <source src="/assets/videos/capture-media.mp4" type="video/mp4">
                    </video>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="container">
          <div class="feature primary pink feature-write">
            <div class="blurb">Write</div>
            <h2>Your web diary</h2>
            <h3>Journal your findings every day.</h3>
            <div class="visual ratio-16x9 centered">
              <div class="bg"></div>
              <div class="content">
                <div class="inner"><div class="scroller"></div></div>
              </div>
            </div>
          </div>
        </div>

        <div class="container">
          <div class="feature primary orange feature-publish">
            <div class="blurb">Publish</div>
            <h2>Get your ideas out there</h2>
            <h3>Sign up to beam to share your notes with the world.&nbsp;<br>With a secret link for your friends, or to your beam profile on the web for everyone.</h3>
            <ul class="card-stack">
              <li data-theme="default" class="card-stack-item">
                <div class="darken"></div>

                <div>
                  <img class="light" src="/assets/home/note-3.svg">
                  <img class="dark" src="/assets/home/note-3-dark.svg">
                </div>
              </li>

              <li data-theme="default" class="card-stack-item">
                <div class="darken"></div>

                <div>
                  <img class="light" src="/assets/home/note-2.svg">
                  <img class="dark" src="/assets/home/note-2-dark.svg">
                </div>
              </li>

              <li data-theme="default" class="card-stack-item">
                <div class="darken"></div>

                <div>
                  <img class="light" src="/assets/home/note-1.svg">
                  <img class="dark" src="/assets/home/note-1-dark.svg">
                </div>
              </li>
            </ul>
          </div>
        </div>

        <div class="container">
          <div class="feature feature-somuchmore">
            <h2 style="text-align: center;">and so much more</h2>
            <div class="more">
              <div class="more-item half omnibox">
                <div class="visual ratio-15x7">
                  <div class="content"></div>
                </div>
                <div class="description">
                  <div class="table">
                    <div class="table-cell middle">
                      <h5>Omnibox</h5>
                      <p>Search the web, your notes, your tab groups, your universe.
                        <br>Press <span class="key">⌘K</span> or <span class="key">⌘T</span> to summon it. </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="more-item half calendar">
                <div class="visual ratio-15x7">
                  <div class="content"></div>
                </div>
                <div class="description">
                  <div class="table">
                    <div class="table-cell middle">
                      <h5>Calendar</h5>
                      <p>Import your macOS or Google calendars and keep an eye on your daily meetings.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="more-item half notes videocall">
                <div class="visual ratio-15x7">
                  <div class="content"></div>
                </div>
                <div class="description">
                  <div class="table">
                    <div class="table-cell middle">
                      <h5>Video Call Window</h5>
                      <p>Your video calls get their own window on the side so you can take notes or browse the web.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="more-item half splitview">
                <div class="visual ratio-15x7">
                  <div class="content"></div>
                </div>
                <div class="description">
                  <div class="table">
                    <div class="table-cell middle">
                      <h5>Split View</h5>
                      <p>Browse the web on one side. Take notes on the other.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="more-item half notes backlinks">
                <div class="visual ratio-15x7">
                  <div class="content"></div>
                </div>
                <div class="description">
                  <div class="table">
                    <div class="table-cell middle">
                      <h5>Backlinks &amp; References</h5>
                      <p>Backlink your notes together by typing ‘@’.&#32;<br>References in your notes help you connect the dots.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="more-item half adblocker">
                <div class="visual ratio-15x7">
                  <div class="content"></div>
                </div>
                <div class="description">
                  <div class="table">
                    <div class="table-cell middle">
                      <h5>Ad Blocker</h5>
                      <p>Surf the web safely and privately with the built-in adblocker.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="more-item full e2e">
                <div class="visual"><span class="text-encrypt">End-to-end encryption</span></div>
                <div class="description">
                  <div class="table">
                    <div class="table-cell middle">
                      <h5>Sync &amp; End-to-End Encryption</h5>
                      <p>
                        Sign up to a beam account to sync all your notes and passwords between your devices.&nbsp;<br>Your content is securely end-to-end encrypted and only you can access&nbsp;it.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="headline container">
          <h2 style="text-align: center;"><strong class="glowtext">Try beam</strong> and experience <br>the web in a new way</h2>
       
          <p style="text-align: center;">
            <button class="button-flash download-app" data-from="bottom"><%= htmlWebpackPlugin.options.messages.header.downloadBeam %></button>
            <br />
            <small class="os-version"><%= htmlWebpackPlugin.options.messages.macOSVersion %></small>
          </p>
        </div>
      </div>

    </main>

    <footer>
      <div class="content">
        <span class="copyright">© <%= htmlWebpackPlugin.options.messages.footer.year %> beam</span>
        <ul class="social-list">
        <% for (const social of htmlWebpackPlugin.options.messages.social) {
          %>
          <li>
            <a href="<%= social.url %>" target="_blank" rel="noopener" title="<%= social.name %>"><%= social.icon %></a>
          </li>
          <%
        }
        %>
        </ul>
        <span class="break"></span>
        <a class="underline" href="<%= htmlWebpackPlugin.options.messages.footer.jobsUrl %>" target="_blank" rel="noopener"><%= htmlWebpackPlugin.options.messages.footer.jobs %></a>
        <a class="underline" href="<%= htmlWebpackPlugin.options.messages.footer.whyUrl %>" target="_blank" rel="noopener"><%= htmlWebpackPlugin.options.messages.footer.why %></a>
        <a class="underline" href="<%= htmlWebpackPlugin.options.messages.footer.supportUrl %>" target="_blank" rel="noopener"><%= htmlWebpackPlugin.options.messages.footer.support %></a>
        <a class="underline" href="<%= htmlWebpackPlugin.options.messages.footer.privacyPolicyUrl %>" target="_blank" rel="noopener"><%= htmlWebpackPlugin.options.messages.footer.privacyPolicy %></a>
      </div>
    </footer>

  </div>
</body>
</html>