.carousel {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  font-size: 38px;
  line-height: 100%;
  white-space: nowrap;
  @include breakpoint($break-largest, $break-height-largest) {
    font-size: 36px;
  }
  @include breakpoint($break-larger, $break-height-larger) {
    font-size: 34px;
  }
  @include breakpoint($break-large, $break-height-large) {
    font-size: 32px;
  }
  @include breakpoint($break-tablet, $break-height-tablet) {
    font-size: 28px;
  }
  @include breakpoint($break-mini) {
    position: static;
    left: unset;
    transform: translateY(50%);
    font-size: 32px;
  }
  @include breakpoint($break-mobile) {
    font-size: 28px;
  }
  @include breakpoint($break-mobile-small) {
    font-size: 24px;
  }

  .table-carousel-wrap {
    @include breakpoint-min($break-mini) {
      transform: translateY(-50%);
    }
    // min-width: 742px;
    @include breakpoint($break-mini) {
      margin: 0;
      line-height: 120%;
    }
  }

  .table-carousel {
    // min-width: 742px;
    &.align-left {
      width: auto;
      margin: 0 0 0 $padding-site-horz !important;
      @include breakpoint($break-large) {
        margin: 0 0 0 $padding-largest !important;
      }
      @include breakpoint($break-mobile) {
        padding: 0 0 0 $padding-large !important;
      }
      @include breakpoint($break-mini) {
        margin: 0 !important;
      }
    }
    @include breakpoint($break-mini) {
      margin: 0;
    }
  }

  .cell-phrase {
    display: table-cell;
    position: relative;
    color: $color-blue;
    @include darkmode() {
      color: $color-darkmode-secondary;
    }

    .placeholder {
      display: block;
      float: left;
      width: auto;
      &.is-done {
        position: absolute;
        visibility: hidden;
      }

      span {
        visibility: hidden;
      }
    }

    .phrases {
      display: block;
      // height: 100%;
      position: absolute;
      left: 0;
      top: 0;

      ul {
        display: block;
        height: 100%;

        li {
          display: block;
          height: 100%;
          color: $color-blue;
          margin-bottom: 75px;
          position: absolute;
          transform-origin: 50% 50% 0px;
          // transform: translateZ(1000px);
          visibility: hidden;
          @include darkmode() {
            color: $color-darkmode-secondary;
          }
          @include breakpoint($break-largest, $break-height-largest) {
            margin-bottom: 65px;
          }
          @include breakpoint($break-larger, $break-height-larger) {
            margin-bottom: 60px;
          }
          @include breakpoint($break-large, $break-height-large) {
            margin-bottom: 55px;
          }
          @include breakpoint($break-tablet, $break-height-tablet) {
           margin-bottom: 50px;
          }
          @include breakpoint($break-mini) {
           margin-bottom: 55px;
          }
          @include breakpoint($break-mobile) {
           margin-bottom: 45px;
          }
          @include breakpoint($break-mobile-small) {
           margin-bottom: 40px;
          }
          &.is-active {
            visibility: visible;
          }
        }
      }
    }
  }

  .cell-space {
    display: none;
  }

  .cell-break {
    &.cell-break-2 {
      width: 100%;
    }
    @include breakpoint($break-mini) {
      display: block;
    }
  }

  .cell-caret {
    position: relative;

    .caret {
      @include breakpoint($break-mini) {
        transform: translateY(-10%);
      }
    }
  }
}